.tags {
  height: 60px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $light-black;

  @include tablet {
    display: none;
  }

  &__container {
    padding: 21px 48px;
    background-color: #F7F7F7;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
  }

  &__list {
    display: flex;
    margin-left: 42px;
    margin-right: 20px;
  }

  &__list_item {
    color: $green;
    cursor: pointer;
    letter-spacing: 0.8px;
    transition: all .2s ease;

    &:hover {
      transform: scale(1.07);
    }

    & + & {
      margin-left: 34px;

      @include laptop {
        margin-left: 16px;
      }
    }
  }

  &__right_item:first-child {
    margin-right: 38px;
  }
}