.sign_up {
  padding: 102px 0 58px 0;
  background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;

  @include mobile-large {
    padding: 60px 0 40px 0;
  }

  &__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;   
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 40px;

    @include mobile-large {
      font-size: 32px;
      line-height: 44px;
      text-align: center;
    }
  }

  &__payment {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 916px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;

    @include tablet {
      flex-direction: column;
    }
  }

  &__payment_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    padding-right: 15px;
    white-space: nowrap;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    width: 14%;
    overflow: hidden;
    transition: transform .2s ease-out;

    &:hover {
      transform: scale(1.05);
    }

    &:last-child {
      padding-right: 0;

      @include mobile-large {
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include mobile-large {
      width: 33.3333%;
    }
  }

  &__row {
    padding: 20px 0;
    margin-bottom: 31px;
    align-items: center;
  }

  @include tablet {
    .col_md_6:not(:nth-child(-n + 2)) {
      margin-top: 20px;
    }
    .col_sm_12:not(:nth-child(-n + 1)) {
      margin-top: 20px;
    }
  }

  &__actions {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile-large {
      flex-direction: column;
    }
  }

  &__action {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $green;
    display: flex;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all .2s ease-out;

    &:hover {
     border-color: $green;
    }

    & + & {
      margin-left: 40px;

      @include mobile-large {
        margin-left: 0;
        margin-top: 34px;
      }
    }

    &::after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: inherit;
      content: '\f30b';
      margin-left: 12px;
    }
  }
}