.su-card {
  $root: &;
  padding: 36px 40px 36px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.501961));
  background-color: #fff;
  border: 4px solid transparent;
  border-radius: 6px;
  text-align: center;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &--active {
    border-color: $green;
    height: 380px;

    @include mobile-large {
      border-color: $orange;
    }

    #{$root}__btn {
      border-color: $orange;

      &:hover {
        background-color: $orange;
      }
    }
  }

  &__title {
    padding-top: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $light-black;

    &::after {
      content: '';
      display: block;
      width: 24px;
      border-bottom: 2px solid $green;
      margin-left: auto;
      margin-right: auto;
      margin-top: 12px;
    }
  }

  &__price {
    padding: 16px 0;
    border-bottom: 1px solid #EBECED;
    color: $black;
    font-weight: 300;
    font-size: 56px;
    line-height: 62px;
    letter-spacing: -1.5px;
  }

  &__price-sup, #{$root}__price-sub {
    font-size: 24px;
    line-height: 32px;
  }

  &__price-sup {
    vertical-align: top;
  }

  &__price-sub {
    vertical-align: bottom;
  }
  
  &__old-price {
    color: $red;
    text-decoration: line-through;
  }

  &__description {
    line-height: 22px;
    margin-top: 27px;
  }

  &__description-text {
    &:last-child {
      font-weight: 700;
      display: block;
    }
  }

  &__btn {
    margin-top: auto;
  }
}