.header {
  padding-top: 40px;

  &__wrapper {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-family: $inter;
    color: #000;
    font-size: 18px;
    padding: 6px 0;
  }

  .btn + .btn {
    margin-left: 10px;
  }
}