.header_info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background-color: #22252E;
  height: 40px;
  line-height: 40px;

  @include mobile-large {
    height: auto;
  }

  &__container {
    max-width: 642px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @include mobile-large  {
      max-width: 470px;
      padding-right: 40px;
    }

    @include mobile {
      max-width: 100%;
      padding: 0 40px 0 10px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    overflow: hidden;

    @include mobile-large {
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: $grey;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 100%;

    &--list {
      max-width: 50%;
      padding: 0 2px;
    }

    &--danger {
      color: $orange;
      padding-left: 2px;
      font-weight: 700;
    }

    &--last {
      color: #fff;
      @include mobile-large {
        justify-content: end;
      }
    }
  }

  &__item_text {
    overflow: hidden;

    &--link {
      transition: all .2s ease;
      &:hover {
        transform: scale(1.02);
      }
    }

    &--icon {
      &::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f071";
        padding-right: 6px;
      }
    }
  }

  &__close {
    font-size: 18px;
    position: absolute;
    right: 13px;
    color: $grey;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color .3s ease;

    @include  mobile-large {
      top: 25%;
    }

    &:hover {
      color: #fff;
    }
  }
}