.article {
  $root: &;
  display: flex;
  height: 180px;

  @include mobile-large {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  &--header {
    background-color: #fff;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    height: 400px;

    @include tablet {
      flex-direction: column;
      height: auto;
    }

    #{$root} {
      &__right {
        width: 50%;
        padding: 60px 60px 40px;
        filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));

        @include tablet {
          width: 100%;
        }

        @include tablet {
          padding: 30px 30px 14px 30px;
        }
      }
      &__left {
        width: 50%;
        height: 100%;
        overflow: hidden;

        @include tablet {
          width: 100%;
        }
      }
    }
  }

  &__left {
    width: 280px;
    flex-shrink: 0;
    overflow: hidden;

    @include mobile-large {
      width: 100%;
    }
  }

  &__left_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__right {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include mobile-large {
      padding: 20px 0;
    }
  }

  &__title {
    font-family: $roboto;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: $black;
    cursor: pointer;
    transition: color .2s ease;

    &:hover {
      color: #000;
    }
  }

  &__author {
    line-height: 22px;
  }

  &__date {
    color: $grey;
    line-height: 22px;
    margin-left: 8px;

    &::before {
      content: '|';
      padding: 0 8px 0 6px;
    }
  }

  &__rights {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $green;
    margin:8px 0 12px 0;
  }

  &__views {
    line-height: 22px;
    color: $grey;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      content: "\f27a";
      margin-right: 10px;
      font-size: 12px;
    }
  }
}