body {
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $light-black;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.title {
  visibility: hidden;
  height: 0;
}

.main_wrapper {
  padding-top: 40px;
  padding-bottom: 118px;
  display: flex;

  @include laptop {
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 10px;
  }
}

.btn {
  display: inline-block;
  font-family: $roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 18px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  transition: all .3s ease-in-out;
  flex-shrink: 0;

  &--default {
    color: $green;
    border-color: $green;

    &:hover {
      color: #fff;
      background-color: $green;
    }
  }

  &.btn--wide {
    padding-left: 80px;
    padding-right: 80px;

    @include mobile {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &--green {
    color: #fff;
    background-color: $green;

    &:hover {
      color: $green;
      background-color: #fff;
      border-color: $green;
    }
  }
}
