.container_fluid {
  padding: 0 15px;
}

.container {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;

  @include laptop {
    max-width: 950px;
  }
  @include tablet {
    max-width: 710px;
  }
  @include mobile-large {
    max-width: 470px;
  }
  @include mobile {
    max-width: 100%;
    padding: 0 10px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.no_gutters {
  margin-right: 0;
  margin-left: 0; }
.no_gutters > .col,
.no_gutters > [class*="col_"] {
  padding-right: 0;
  padding-left: 0; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col,
.col_auto, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_sm,
.col_sm_auto, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_md,
.col_md_auto, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_lg,
.col_lg_auto, .col_xs_1, .col_xs_2, .col_xs_3, .col_xs_4, .col_xs_5, .col_xs_6, .col_xs_7, .col_xs_8, .col_xs_9, .col_xs_10, .col_xs_11, .col_xs_12, .col_xs,
.col_xs_auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col_auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col_1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col_2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col_3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col_4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col_5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col_6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col_7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col_8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col_9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col_10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col_11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col_12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.orde_-first {
  order: -1;
}

.order_last {
  order: 13;
}

.order_0 {
  order: 0;
}

.order_1 {
  order: 1;
}

.order_2 {
  order: 2;
}

.order_3 {
  order: 3;
}

.order_4 {
  order: 4;
}

.order_5 {
  order: 5;
}

.order_6 {
  order: 6;
}

.order_7 {
  order: 7;
}

.order_8 {
  order: 8;
}

.order_9 {
  order: 9;
}

.order_10 {
  order: 10;
}

.order_11 {
  order: 11;
}

.order_12 {
  order: 12;
}
.offset_1 {
  margin-left: 8.33333%;
}

.offset_2 {
  margin-left: 16.66667%;
}

.offset_3 {
  margin-left: 25%;
}

.offset_4 {
  margin-left: 33.33333%;
}

.offset_5 {
  margin-left: 41.66667%;
}

.offset_6 {
  margin-left: 50%;
}

.offset_7 {
  margin-left: 58.33333%;
}

.offset_8 {
  margin-left: 66.66667%;
}

.offset_9 {
  margin-left: 75%;
}

.offset_10 {
  margin-left: 83.33333%;
}

.offset_11 {
  margin-left: 91.66667%;
}
.m_0 {
  margin: 0 !important;
}

.mt_0,
.my_0 {
  margin-top: 0 !important;
}

.mr_0,
.mx_0 {
  margin-right: 0 !important;
}

.mb_0,
.my_0 {
  margin-bottom: 0 !important;
}

.ml_0,
.mx_0 {
  margin-left: 0 !important;
}

.m_1 {
  margin: 0.25rem !important;
}

.mt_1,
.my_1 {
  margin-top: 0.25rem !important;
}

.mr_1,
.mx_1 {
  margin-right: 0.25rem !important;
}

.mb_1,
.my_1 {
  margin-bottom: 0.25rem !important;
}

.ml_1,
.mx_1 {
  margin-left: 0.25rem !important;
}

.m_2 {
  margin: 0.5rem !important;
}

.mt_2,
.my_2 {
  margin-top: 0.5rem !important;
}

.mr_2,
.mx_2 {
  margin-right: 0.5rem !important;
}

.mb_2,
.my_2 {
  margin-bottom: 0.5rem !important;
}

.ml_2,
.mx_2 {
  margin-left: 0.5rem !important;
}

.m_3 {
  margin: 1rem !important;
}

.mt_3,
.my_3 {
  margin-top: 1rem !important;
}

.mr_3,
.mx_3 {
  margin-right: 1rem !important;
}

.mb_3,
.my_3 {
  margin-bottom: 1rem !important;
}

.ml_3,
.mx_3 {
  margin-left: 1rem !important;
}

.m_4 {
  margin: 1.5rem !important;
}

.mt_4,
.my_4 {
  margin-top: 1.5rem !important;
}

.mr_4,
.mx_4 {
  margin-right: 1.5rem !important;
}

.mb_4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml_4,
.mx_4 {
  margin-left: 1.5rem !important;
}

.m_5 {
  margin: 3rem !important;
}

.mt_5,
.my_5 {
  margin-top: 3rem !important;
}

.mr_5,
.mx_5 {
  margin-right: 3rem !important;
}

.mb_5,
.my_5 {
  margin-bottom: 3rem !important;
}

.ml_5,
.mx_5 {
  margin-left: 3rem !important;
}

@media (max-width: $laptop) {
  .col_lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col_lg_auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col_lg_1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col_lg_2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col_lg_3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col_lg_4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col_lg_5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col_lg_6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col_lg_7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col_lg_8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col_lg_9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col_lg_10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col_lg_11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col_lg_12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order_lg_first {
    order: -1;
  }
  .order_lg_last {
    order: 13;
  }
  .order_lg_0 {
    order: 0;
  }
  .order_lg_1 {
    order: 1;
  }
  .order_lg_2 {
    order: 2;
  }
  .order_lg_3 {
    order: 3;
  }
  .order_lg_4 {
    order: 4;
  }
  .order_lg_5 {
    order: 5;
  }
  .order_lg_6 {
    order: 6;
  }
  .order_lg_7 {
    order: 7;
  }
  .order_lg_8 {
    order: 8;
  }
  .order_lg_9 {
    order: 9;
  }
  .order_lg_10 {
    order: 10;
  }
  .order_lg_11 {
    order: 11;
  }
  .order_lg_12 {
    order: 12;
  }

  .offset_lg_1 {
    margin-left: 8.33333%;
  }

  .offset_lg_2 {
    margin-left: 16.66667%;
  }

  .offset_lg_3 {
    margin-left: 25%;
  }

  .offset_lg_4 {
    margin-left: 33.33333%;
  }

  .offset_lg_5 {
    margin-left: 41.66667%;
  }

  .offset_lg_6 {
    margin-left: 50%;
  }

  .offset_lg_7 {
    margin-left: 58.33333%;
  }

  .offset_lg_8 {
    margin-left: 66.66667%;
  }

  .offset_l_-9 {
    margin-left: 75%;
  }

  .offset_lg-10 {
    margin-left: 83.33333%;
  }

  .offset_lg_11 {
    margin-left: 91.66667%;
  }
}

@media (max-width: $tablet) {
  .col_md {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col_md_auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col_md_1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col_md_2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col_md_3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col_md_4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col_md_5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col_md_6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col_md_7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col_md_8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col_md_9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col_md_10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col_md_11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col_md_12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order_md_first {
    order: -1;
  }
  .order_md_last {
    order: 13;
  }
  .order_md_0 {
    order: 0;
  }
  .order_md_1 {
    order: 1;
  }
  .order_md_2 {
    order: 2;
  }
  .order_md_3 {
    order: 3;
  }
  .order_md_4 {
    order: 4;
  }
  .order_md_5 {
    order: 5;
  }
  .order_md_6 {
    order: 6;
  }
  .order_md_7 {
    order: 7;
  }
  .order_md_8 {
    order: 8;
  }
  .order_md_9 {
    order: 9;
  }
  .order_md_10 {
    order: 10;
  }
  .order_md_11 {
    order: 11;
  }
  .order_md_12 {
    order: 12;
  }

  .offset_md_1 {
    margin-left: 8.33333%;
  }

  .offset_md_2 {
    margin-left: 16.66667%;
  }

  .offset_md_3 {
    margin-left: 25%;
  }

  .offset_md_4 {
    margin-left: 33.33333%;
  }

  .offset_md_5 {
    margin-left: 41.66667%;
  }

  .offset_md_6 {
    margin-left: 50%;
  }

  .offset_md_7 {
    margin-left: 58.33333%;
  }

  .offset_md_8 {
    margin-left: 66.66667%;
  }

  .offset_md_9 {
    margin-left: 75%;
  }

  .offset_md_10 {
    margin-left: 83.33333%;
  }

  .offset_md_11 {
    margin-left: 91.66667%;
  }
}

@media (max-width: $mobile-large) {
  .col_sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col_sm_auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col_sm_1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col_sm_2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col_sm_3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col_sm_4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col_sm_5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col_sm_6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col_sm_7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col_sm_8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col_sm_9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col_sm_10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col_sm_11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col_sm_12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order_sm_first {
    order: -1;
  }
  .order_sm_last {
    order: 13;
  }
  .order_sm_0 {
    order: 0;
  }
  .order_sm_1 {
    order: 1;
  }
  .order_sm_2 {
    order: 2;
  }
  .order_sm_3 {
    order: 3;
  }
  .order_sm_4 {
    order: 4;
  }
  .order_sm_5 {
    order: 5;
  }
  .order_sm_6 {
    order: 6;
  }
  .order_sm_7 {
    order: 7;
  }
  .order_sm_8 {
    order: 8;
  }
  .order_sm_9 {
    order: 9;
  }
  .order_sm_10 {
    order: 10;
  }
  .order_sm_11 {
    order: 11;
  }
  .order_sm_12 {
    order: 12;
  }
  .offset_sm_0 {
    margin-left: 0;
  }
  .offset_sm_1 {
    margin-left: 8.33333%;
  }

  .offset_sm_2 {
    margin-left: 16.66667%;
  }

  .offset_sm_3 {
    margin-left: 25%;
  }

  .offset_sm_4 {
    margin-left: 33.33333%;
  }

  .offset_sm_5 {
    margin-left: 41.66667%;
  }

  .offset_sm_6 {
    margin-left: 50%;
  }

  .offset_sm_7 {
    margin-left: 58.33333%;
  }

  .offset_sm_8 {
    margin-left: 66.66667%;
  }

  .offset_sm_9 {
    margin-left: 75%;
  }

  .offset_sm_10 {
    margin-left: 83.33333%;
  }

  .offset_sm_11 {
    margin-left: 91.66667%;
  }

  .d_sm_none {
    display: none;
  }
}

@media (max-width: $mobile) {
  .col_xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col_xs_auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col_xs_1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col_xs_2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col_xs_3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col_xs_4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col_xs_5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col_xs_6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col_xs_7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col_xs_8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col_xs_9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col_xs_10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col_xs_11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col_xs_12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pr_xs_0 {
    padding-right: 0 !important
  }
  .pr_xs_1 {
    padding-right: 0.25rem !important
  }
  .order_xs_first {
    order: -1;
  }
  .order_xs_last {
    order: 13;
  }
  .order_xs_0 {
    order: 0;
  }
  .order_xs_1 {
    order: 1;
  }
  .order_xs_2 {
    order: 2;
  }
  .order_xs_3 {
    order: 3;
  }
  .order_xs_4 {
    order: 4;
  }
  .order_xs_5 {
    order: 5;
  }
  .order_xs_6 {
    order: 6;
  }
  .order_xs_7 {
    order: 7;
  }
  .order_xs_8 {
    order: 8;
  }
  .order_xs_9 {
    order: 9;
  }
  .order_xs_10 {
    order: 10;
  }
  .order_xs_11 {
    order: 11;
  }
  .order_xs_12 {
    order: 12;
  }
  .offset_xs_0 {
    margin-left: 0;
  }
  .offset_xs_1 {
    margin-left: 8.33333%;
  }

  .offset_xs_2 {
    margin-left: 16.66667%;
  }

  .offset_xs_3 {
    margin-left: 25%;
  }

  .offset_xs_4 {
    margin-left: 33.33333%;
  }

  .offset_xs_5 {
    margin-left: 41.66667%;
  }

  .offset_xs_6 {
    margin-left: 50%;
  }

  .offset_xs_7 {
    margin-left: 58.33333%;
  }

  .offset_xs_8 {
    margin-left: 66.66667%;
  }

  .offset_xs_9 {
    margin-left: 75%;
  }

  .offset_xs_10 {
    margin-left: 83.33333%;
  }

  .offset_xs_11 {
    margin-left: 91.66667%;
  }
  .d_xs_none {
    display: none;
  }
}