$widescreen: 1440px;
$laptop: 1200px;
$tablet: 960px;
$mobile-large: 720px;
$mobile: 480px;

//colors
$orange: #FF8D00;
$grey: #889099;


//fonts

$montserrat:'Montserrat', serif;
$nunito: 'Nunito', sans-serif;;
$balsamiq-sans: 'Balsamiq Sans', cursive;