$widescreen: 1440px;
$laptop: 1200px;
$tablet: 960px;
$mobile-large: 720px;
$mobile: 480px;

//colors
$grey: #889099;
$light-black: #323642;
$black: #22252E;
$orange: #FF8D00;
$green: #4CB649;
$red: #F24458;

//fonts

$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;